* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #E5E5E5;
    border: 15px solid #4E4B4B;
}

/*Header et menu*/

header {
    /* display: flex;*/
    text-align: center;
    background-color: #E5E5E5;
    height: 100vh;
    color: black;
}

#navbar {
    display: flex;
    position: sticky;
    width: 100%;
    font-size: 1.1em;
    background-color: #4E4B4B;
    box-shadow: 0px 3px 1px -1px rgba(0, 0, 0, 0.5);
}

a {
    text-decoration: none;
    color: black;
    padding: 10px;
}

ul {
    padding: 20px;
    display: inline;
}

li:hover {
    font-weight: bold;
}

li {
    list-style-type: none;
    display: inline;
    margin: 10px;
}

#logo {
    position: relative;
    top: -5px;
    height: 100px;
    padding: 10px;
}

/*Menu burger*/

#burger {
    display: none;
    cursor: pointer;
}

#burger div {
    width: 30px;
    height: 3px;
    margin: 5px;
    background: #fff;
    transition: all 0.5s ease-in;
}

#burger.active .line1 {
    transform: rotate(45deg) translate(5px, 6px);
}

#burger.active .line2 {
    opacity: 0;
}

#burger.active .line3 {
    transform: rotate(-45deg) translate(5px, -6px);
}

/*Barre de recherche*/

.search {
    position: relative;
    height: 50px;
}

.search .input {
    position: absolute;
    left: 880px;
    top: -13px;
    background-color: #E5E5E5;
    border: 0;
    font-size: 18px;
    padding: 15px;
    height: 50px;
    width: 50px;
    transition: width 0.3s ease;
}

.btn {
    background-color: #E5E5E5;
    border: 0;
    cursor: pointer;
    font-size: 24px;
    position: absolute;
    top: -13px;
    left: 900px;
    height: 50px;
    width: 50px;
    transition: transform 0.3s ease;
}

.btn:focus, .input:focus {
    outline: none;
}

.search.active .input {
    width: 200px;
}

.search.active .btn {
    transform: translateX(198px);
}

/*bouton d'authentification accueil*/

#seconnecter, #sinscrire {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 150px;
    height: 40px;
}

#sinscrire {
    position: relative;
    top: 70px;
    left: 120px;
}

#seconnecter {
    position: relative;
    top: 150px;
    left: -100px;
}

/*Accueil*/

#presentation {
    position: absolute;
    top: 300px;
    left: 100px;
    width: 1102px;
    height: 258px;
    background: #F1F1F1;
}

h4 {
    position: relative;
    top: 20px;
    left: 480px;
}

/*Identification*/

button {
    position: relative;
    top: 30px;
    left: 170px;
    background: rgb(65, 64, 64);
    border: 0;
    padding: 10px;
    width: 200px;
    font-family: sans-serif;
    border-radius: 3px;
    cursor: pointer;
    align-items: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    color: #ffff;
    margin-top: 20px;
    margin-bottom: 40px;
}

#btnconnex {
    position: relative;
    top: 10px;
    left: 20px;
    background: rgb(65, 64, 64);
    border: 0;
    padding: 10px;
    width: 200px;
    font-family: sans-serif;
    border-radius: 3px;
    cursor: pointer;
    align-items: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    color: #ffff;
    margin-top: 20px;
    margin-bottom: 40px;
}

button:hover {
    background: #777373;
}

.formulaire {
    justify-content: center;
    /*display: flex;*/
    flex-direction: row;
    /*position: relative;*/
    top: 290px;
}

form {
    display: flex;
    flex-direction: column;
    position: relative;
    top: 20px;
    width: 350px;
    height: 480px;
    justify-content: center;
    border: 5px solid #4E4B4B;
    background-color: #f1f1f1;
    border-radius: 10px;
    font-family: sans-serif;
    color: #ffff;
    margin-left: 60px;
    margin-right: 60px;
    margin-top: 50px;
    box-shadow: 1px 1px 1px 1px rgb(248 248 248 / 22%);
}

input {
    position: relative;
    /* top: 50px;*/
    border-radius: 3px;
    height: 30px;
    width: 300px;
    border: none;
    opacity: 0.5;
    margin: 20px;
    border-color: lightgrey;
    border: solid 1px lightgrey;
    background-color: #4E4B4B;
}

h1, h2 {
    text-align: center;
    color: #4E4B4B;
}

h2 {
    position: relative;
    top: 40px;
}

h1 {
    width: 50%;
    margin: auto;
    position: relative;
    top: -480px;
}

label {
    vertical-align: middle
}

.formfield, .formfield1 {
    display: flex;
    /*flex-direction: column;*/
    justify-content: center;
    margin: auto;
}

.colonne1 {
    position: relative;
    right: 10px;
    top: 50px;
}

.colonne2 {
    position: relative;
    top: 50px;
    left: 10px;
}

#inscriptionForm {
    /* display: grid;
    grid-template-columns: 2fr 2fr;
    grid-auto-rows: 100px;*/
    height: 400px;
    width: 700px;
}

#connexionForm {
    display: flex;
    position: relative;
    top: -430px;
    left: 750px;
    height: 400px;
}

#colonne3 {
    display: block;
    position: relative;
    top: 10px;
}

/*pagesprofil*/

#profilForm {
    position: relative;
    top: -350px;
    left: 100px;
    width: 800px;
}

#colonne4 {
    display: grid;
    position: relative;
    top: 60px;
    right: 220px;
}

#btnvalider {
    position: relative;
    top: 20px;
    left: 200px;
    background: rgb(65, 64, 64);
    border: 0;
    padding: 10px;
    width: 200px;
    font-family: sans-serif;
    border-radius: 3px;
    cursor: pointer;
    align-items: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    color: #ffff;
    margin-top: 20px;
    margin-bottom: 40px;
}

#titreprofil {
    position: relative;
    top: 50px;
}

/*centres d'interet*/

.checkbox {
    position: absolute;
    display: flex;
    flex-direction: row;
    top: 300px;
}

/*stastitiques*/

#donutchart {
    background-color: rgb(65, 64, 64);
    position: relative;
    bottom: 300px;
    left: 400px;
}

/*footer*/

footer {
    display: flex;
    align-self: flex-end;
    font-weight: bold;
    background-color: #4E4B4B;
    color: black;
    padding: 15px;
    height: 80px;
    position: relative;
}

/* footer*/

footer {
    height: 200px;
}

#horaire {
    position: absolute;
    top: 30px;
    left: 50px;
    width: 400px;
    height: 150px;
    background: #F1F1F1;
}

#contact {
    position: absolute;
    top: 30px;
    left: 800px;
    width: 400px;
    height: 150px;
    background: #F1F1F1;
}

span {
    position: relative;
    left: 500px;
    top: 20px;
}

@media screen and (max-width: 650px) {
    body {
        overflow-x: hidden;
    }
    #burger {
        display: block;
    }
    .header {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
    }
    #nav-menu {
        position: absolute;
        top: 10px;
        right: -100%;
        width: 50%;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        height: calc(100vh - 70px);
        transition: right 0.5s ease-in;
    }
    #nav-menu li {
        opacity: 0;
    }
    #nav-menu.active {
        right: 0;
        width: 40%;
    }
    @keyframes navLinksFade {
        0% {
            opacity: 0;
            transform: translateY(50px) translateX(50px);
        }
        100% {
            opacity: 1;
            transform: translateY(0) translateX(0);
        }
    }
    /*titre h1*/
    h1 {
        position: relative;
        top: -450px;
    }
    h4 {
        position: relative;
        top: 20px;
        left: 100px;
    }
    #presentation {
        position: absolute;
        left: 75px;
        top: 350px;
        width: 350px;
    }
    #sinscrire {
        width: 100px;
        position: relative;
        left: 50px;
    }
    #seconnecter {
        width: 100px;
        left: -60px;
    }
    footer {
        width: 100%;
    }
    #horaire {
        position: relative;
        left: -50px;
        top: 10px;
    }
    #contact {
        overflow: hidden;
    }
    footer span {
        overflow: hidden;
    }
}

@media screen and (max-width: 400px) {
    h1 {
        position: relative;
        top: -460px;
    }
    h4 {
        position: relative;
        top: 20px;
        left: 50px;
    }
    #presentation {
        position: absolute;
        left: 50px;
        width: 250px;
    }
    #sinscrire {
        width: 100px;
        position: relative;
        left: 50px;
    }
    #seconnecter {
        width: 100px;
        left: -60px;
    }
    footer {
        width: 100%;
    }
    #horaire {
        position: relative;
        left: -50px;
        top: 10px;
    }
    #contact {
        overflow: hidden;
    }
    footer span {
        overflow: hidden;
    }
}